# venv/
# .env
# __pycache__/
# # *.pyc
# *.py[cod]
# .vscode/


.vscode/
# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
backend/.env
frontend/.env

# Frontend
frontend/node_modules/
frontend/dist/